/*replace the font sizes with this code --> font-size:calc(12px + 1.5vw); 
  in order to set a minimum font size
*/

body{
    margin:0;
    font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
}
.navbar{
    /* background-image:linear-gradient( to right, #624b83 0%,#8d73b8 15%, #fff 15%, #fff 100%); */
    background-image:linear-gradient(to top, #624b83 0%, #8d73b8 100%);
    display:block;
    width:15%;
    height:5vh;
    z-index:100;
    position:fixed;
    top:0;
    left:0;
}

.dropbtn {
    position:fixed;
    top:-0.1vh;
    left:13.5vw;
    background:none;
    border: none;
    cursor: pointer;
    float:right;
    margin-top:1.5vh;
  }

  .navbar p{
    float: left;
    margin-top:1.5vh;
    margin-left:0.75vw;
    font-size: 0.95vw;
    color:white;
    
    font-weight:200;
  }
 #logo{
     margin-left:0.25vw;
     margin-top:0.25vw;
     float: left;
 }
 .navigation-buttons-container{
    position:fixed;
    top:0;
    right:0; 
}
.navigation-buttons{
    border:none;
    background:none;
    padding-top:1vh;
    margin-right:1vw;
}

/* #userIdDropdownButton{

} */

#userIdDropdownContainer{
    display:inline-block;
    padding-bottom:0.6vh;
}

#userIdDropdownButton{
    position:relative;
}

#userIdDropdown{
    display:none;
    position:absolute;
    width:10vw;
    top:5vh;
    right:0vh;
    background-color:#8d73b8;
}

.userIdButton{
    width:100%;
    text-align:center;
    color:white;
    border:none;
    background:none;
    font-size:0.9vw;
    padding:1vh 0;  
}

.userIdButton:hover {background-color: #b995f3;}

#userIdDropdownContainer:hover #userIdDropdown {display: block;}


 #Howdy{
    background: linear-gradient(to bottom, #e9e8e8a9 0%,#242424b9 100%), url(icons/placeholder-background.jpg) repeat 0 0;
     background-size:cover;
     width:100%;
     height:15vh;
     margin-bottom:2vh;
     position:relative;
     

 }
 
#Howdy-content{
    position:absolute;
    top:4vh;
    left:1.25vw;
    width:90%;
    margin:auto;
    font-weight:bold;
    font-size:1vw;
    font-family:"Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;;
}

#Howdy span{
    padding-top:10%;
    color:white;
    font-weight:400;
}

#Howdy-content img{
    border-radius:50%;
    border:solid #8d73b8 0.4vh;
    height:2.5vw;
    width:2.5vw;
    min-height:32px;
    min-width:32px;
}

 .dropdown-content {
    position: absolute;
    color: white;
    background-image:linear-gradient( to top, #624b83,#8d73b8);
    width: 15%;
    height:95vh;
    overflow: hidden;
    left: 0;
    z-index: 1;

  }

  
.dropdown-content button {
      padding-left:1vw;
      padding-top:0.1vw;
      padding-bottom:0.1vw;
      cursor: pointer;
    color: #D8CCEB;
    text-decoration: none;
    text-align:left;
    background:none;
    border:none;
    display:block;
    width:100%;
    font-family:"Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;;
    font-size:1vw;
    font-weight:1;
    margin-bottom:1.5vh;
    transition: all 0.15s ease-out;
  }

  .dropdown-content button:hover {
    background-color:#8d73b8;
    transition-duration: 0.15s ease;
}



  .dropdown-content button.active {
    background-color:#9d84c4;
    font-weight:375;
    color:white;
    border-left:solid #c8a0ff 0.35vw;
      transition:0.25s;
  }

  .dropdown-content img{
    float:left;
  }
  .dropdown-content span{
    vertical-align: middle;
    padding-left:1vw;
  }
  
#sidebarSettings{
    position:absolute;
    bottom:3vh;
    left:1vw;
    width:80%;
}

#sidebarSettings span{
    padding-top:2.5vh;
    font-family:"Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;;
    font-size:1vw;
    font-weight:bold;
}

.SidebarDropdowns{
    padding-left:1vw;
    display:none;
}

.SidebarDropdowns button{
    margin-bottom:0.5vh;
    font-size: 1vw;
}

.Background{
    display: fixed;
    box-shadow: 0px 0px 7px 5px #c8a6ff9a;
    height:95vh;
    background-image:linear-gradient( to top, #E6D7F8,#F3F0F7);
    z-index:1;
    margin-top:5vh;
}

.tabLocation{
    height:5vh;
    font-family:"Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
    color:#6D7278;
    font-size: 1vw;
    padding:0.5vw;
    padding-top:1vw;
    font-weight:350;
}

#displayDate{ 
    float:right;
    margin-right:5vw;
    color:#624b83;
    font-size: 1vw;
    font-family:"Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
    font-weight:350;
}

#Summary{
}

#analyticsBar{
    
    font-size:2vw;
    color:#624b83;
    padding:0vw 2.5vw;
}

#analyticsBarClients{
    font-size:0.8vw;
    float:right;
    border-right:solid gray 2px;
    text-align:center;
    width:8%;
    color:#6D7278;
    padding:0 0.5vw;
}

#analyticsBarCaregivers{
    font-size:0.8vw;
    float:right;
    margin-right:2.25vw;
    width:10%;
    text-align:center;
    color:#6D7278;
    padding:0 0.5vw;
}

#analyticsBarClientTotal{
    font-weight:bold;
    color:#8d73b8;
}

#analyticsBarCaregiversTotal{
    font-weight:bold;
    color:#624b83;
}

#summaryContent{
    margin-top:10vh;
    width:95%;
    margin-left:1.5vw;   
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:1vw;
}

.summaryContentBox{
    height:15vh;
    width:37vw;
    padding:1vh;
    border-radius:1vw;
    background-color:#8d73b8;
    color:white;
    font-family:"Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;;
    font-size:1.5vw;
    font-weight:300;
    
}

.summaryContentBox h1{
    margin:0;
    padding:0;
    font-family:"Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;;
    font-size:4vw;
    font-weight:bold;
}

.summaryContentBoxImg{
    position:relative;
    float:right;
    padding-top:2.5vh;
    
}

#clientsSignedUp{
    background-color:#9c7ec5;
}

#incomingClients{
    background-color:#cdbee0;
}

#caregiversOnBoard{
    background-color:#8262b6;
}

#caregiversOnQueue{
    background-color:#bd9ae7;
}

#new-Client{ 
    
}

#newClientBar{
    width:8vw;
    ;
    font-size:1.5vw;
    color:#624b83;
    padding:0.5vh 1.5vw;
    border-right:solid #6D7278 2px;
    float:left;
    font-weight:400;
}

#newClientBarDetails{
    float:left;
    color:#6D7278;
    font-family:"Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;;
    margin-top:1.25vh;
    margin-left:0.5vw;
    font-size:0.9vw;
    font-weight:350;
}

#newClientBackAndSubmitButtons{
    float:right;
    margin-right:2vw;
}

#newClientBackAndSubmitButtons button{
    border:none;
    font-family:"Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;;
    font-size:0.9vw;
}

/*disabled for now, moved back button to within the forms as well*/
/* #newClientBackButton{
    background-color:white;
    border-radius:0.5vw;
    border:solid gray 1px;
    padding: 1vh 1vw;
    margin-right:1vw;
} */ 

#newClientSubmitButtonTopRight{
    background-color:#624b83;
    border-radius:0.5vw;
    padding: 1vh 1vw;
    color:white;

}

#newClientSubmitButtonTopRightImage{
    padding-left:0.5vw;
    margin:auto;
    margin-left:0.5vw;
    border-left:solid white 1px;
    height:0.75vw;
    width:0.75vw;
    min-width:10px;
    min-height:10px;

}

#newClientContent{
    margin-top:7.5vh;
    height:10%;
    width:90%;
    margin-left:0.75vw;   
    display:grid;
    grid-template-columns:1fr 1fr;
    column-gap:1vh;
    row-gap:1vh;
    margin-bottom:5vh;
}
.newClientContentBox{
    height:8vh;
    width:41.25vw;
    border-radius:1vw;
    background-color:#d5b5fd;
    font-family:"Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;;
    transition-duration: 0.25s;
}

.newClientContentNumberBox{
    margin-top:1vh;
    margin-left:1vh;
    border-radius:0.75vmin;
    height:3vw;
    width:3vw;
    background-color:#a384d4;
    float:left;

}

.activeNewClientForm{
    background-color:white;
    transition-duration: 0.25s;
}

.activeNewClientForm .newClientContentNumber{
    color:white;
    transition-duration: 0.25s;
}

.newClientContentNumber{
    color:#624b83;;
    padding-left:1.2vw;
    padding-top:0.75vw;
    font-size:1.25vw;
}

.newClientContentBox h1{
    font-size:1.25vw;
    font-weight:400;
    margin-left:4vw;
    color:#2b2b2b;
    margin-top:1vh;
}

.newClientContentBox p{
    font-size:0.9vw;
    margin-top:-1vh;
    margin-left:4vw;
    color:#2b2b2b;
    font-weight:100;
}

#newClientFormsBox{
    border-radius:0.5vw;
    border:solid gray 1px;
    padding:1vw;
    width:95%;
    height:50vh;
    margin:auto;
    background-color:white;
    position:relative;
}

.newClientFormsNextButton{
    position: absolute;
    bottom:1vh;
    right:1vw;
    border:solid gray 1px;
    border-radius:0.25vw;
    background-color: #a384d4;  
    color:white;  
    font-family:"Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;;
    padding:0.5vh 0.5vw;  
}

.newClientFormsBackButton{
    position: absolute;
    bottom:1vh;
    right:5.5vw;
    border:solid gray 1px;
    border-radius:0.25vw;
    background-color: #ebdaff;  
    color:black;  
    font-family:"Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;;
    padding:0.5vh 0.5vw; 
}

#newClientFormsSubmitButton{
    position: absolute;
    bottom:1vh;
    right:1vw;
    border:none;
    border-radius:0.25vw;
    background-color: #624b83;  
    color:white;  
    font-family:"Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;;
    padding:0.6vh 1vw;  
}

#form1{
    display:block;
    margin-left:10vw;
    width:60vw;
    margin-top:5.5vw;
    font-family:"Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;;
    font-size:0.9vw;
    font-weight: bold;
    color:gray;
    
    
}

.lowiq{
    ;
    font-size:1.5vw;
    color:gray;
    font-weight: bolder;
    margin-left:10vw;
}
.loweriq{
    font-family:"Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;;
    font-size:0.9vw;
    font-weight: bold;
    color:gray;
    margin-left:10vw;
    margin-top:1vw;
}
.loiq{
    margin-top:0.5vw;
    margin-left:1.7vw;
}
.IQ{
    margin-top:0.5vw;
    margin-left:1.7vw;
}
.QI{
    margin-left:6.8vw;
    margin-top:0.5vw;
}

.address{
    margin-top:0.5vw;
    margin-left:2.6vw;
}

#form2{
    display:none;
}

#form3{
    display:none;
}

#form4{
    display:none;
}

#active-Clients{

}

#add-Caregiver{

}

#active-Caregivers{

}

#documents{

}

#forms{

}

.summaryTab{
    display:none;
    animation: fadeEffect 1s, slide 1s forwards;
}

.displayed{
    display:block;
    animation: fadeEffect 0.75s;
}

.sidebarDisplay{
    opacity:1;
    transition:opacity 0.75s;
    animation: fadeEffect 0.75s, slide2 0.75s forwards;
}

.sidebarDisappear{
    opacity:0;
    transition: opacity 0.75s;
    animation: fadeEffect 0.75s, slideOut 0.75s forwards;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

@keyframes slide{
    100% {margin-left:15%;}
}

@keyframes slide2{
    0%{margin-top:-100vh;}
    100%{margin-top:0vh;}
}

@keyframes slideOut {
    100%{margin-top: -100vh;}
}

@media screen and (max-width:768px){    
    

  }
