/*replace the font sizes with this code --> font-size:calc(12px + 1.5vw); 
  in order to set a minimum font size
*/

body{
    margin:0;
}
.navbar{
    /* background-image:linear-gradient( to right, #624b83 0%,#8d73b8 15%, #fff 15%, #fff 100%); */
    background-image:linear-gradient(to top, #624b83 0%, #8d73b8 100%);
    display:block;
    width:15%;
    height:5vh;
    
    
}

.dropbtn {
    background:none;
    border: none;
    cursor: pointer;
    float:right;
    margin-top:1.75vh;
  }

  .navbar p{
    float: left;
    font-size: 0.8vw;
    color:white;
    font-family: Verdana, sans-serif;
  }
 #logo{
     padding:0.25em;
     float: left;
 }
 .navigation-buttons{
    position:absolute;
    top:0;
    right:0; 
}
.navigation-buttons button{
    border:none;
    background:none;
    padding-top:1vh;
    margin-right:1vw;
}


 #Howdy{
    background: linear-gradient(to bottom, #ffffffb3 0%,#000000b3 100%), url(icons/placeholder-background.jpg) repeat 0 0;
     background-size:cover;
     width:100%;
     height:15vh;
     margin-bottom:2vh;
     

 }
 
#Howdy-content{
    display:block;
    width:90%;
    margin:auto;
    padding-top:10%;
    font-weight:bold;
    font-size:0.9vw;
    font-family: Verdana, sans-serif;
    text-align:left;
}

#Howdy span{
    padding-top:20%;
}

#Howdy-content img{
    margin-top:5%;
    border-radius:50%;
    border:solid #8d73b8 0.4vh;
    height:5vh;
    width:5vh;
}

 .dropdown-content {
    position: absolute;
    color: white;
    background-image:linear-gradient( to top, #624b83,#8d73b8);
    width: 15%;
    height:95vh;
    overflow: hidden;
    left: 0;
    z-index: 1;

  }

  
.dropdown-content button {
      padding-left:1vw;
      padding-top:0.1vw;
      padding-bottom:0.1vw;
      cursor: pointer;
    color: white;
    text-decoration: none;
    text-align:left;
    background:none;
    border:none;
    display:block;
    width:100%;
    font-family: Verdana, sans-serif;
    font-size:0.9vw;
    font-weight:1;
    margin-bottom:1.5vh;
    transition: all 0.15s ease-out;
  }

  .dropdown-content button:hover {
    background-color:#8d73b8;
    transition-duration: 0.15s ease;
}



  .dropdown-content button.active {
    background-color:#9d84c4;
    border-left:solid #624b83 0.35vw;
      transition:0.25s;
  }

  .dropdown-content img{
    float:left;
  }
  .dropdown-content span{
    vertical-align: middle;
    padding-left:1vw;
  }
  
#sidebarSettings{
    position: absolute;;
    bottom:3vh;
    left:1vw;
    width:80%;
    
}

#sidebarSettings span{
    padding-top:2.5vh;
    font-family: Verdana, sans-serif;
    font-size:1.2vw;
}




.SidebarDropdowns{
    padding-left:1vw;
    display:none;
}
.SidebarDropdowns button{
    margin-bottom:0.5vh;
    font-size:0.8vw;
}

.Background{
    display: fixed;
    
    height:95vh;
    background-image:linear-gradient( to top, #E6D7F8,#F3F0F7);
}

.tabLocation{
    height:5vh;
    font-family:sans-serif;
    color:#414141;
    font-size:1.5vw;
    padding:0.5vw;
    padding-top:1vw;
}

#displayDate{
    float:right;
    margin-right:1vw;
    color:#624b83;
    padding:0.25vw;
    font-size: 1vw;
    font-family:sans-serif;
    border-bottom:solid gray 1px;
}

#Summary{
}

#analyticsBar{
    font-family: sans-serif;
    font-size:2vw;
    color:#624b83;
    padding:0vw 2.5vw;
}

#analyticsBarClients{
    font-size:1vw;
    float:right;
    border-right:solid gray 2px;
    text-align:center;
    width:8%;
    color:#686868;
}

#analyticsBarCaregivers{
    font-size:1vw;
    float:right;
    width:10%;
    text-align:center;
    color:#686868;
}

#analyticsBarClientTotal{
    font-weight:bold;
    color:#8d73b8;
}

#analyticsBarCaregiversTotal{
    font-weight:bold;
    color:#624b83;
}

#summaryContent{
    margin-top:10vh;
    width:80%;
    margin-left:2.15vw;   
    display:grid;
    grid-template-columns:1fr 1fr;
    /* grid-auto-rows:minmax(100px, auto); */
    grid-gap:1em;
    justify-items:stretch;
    align-items:stretch;
}

.summaryContentBox{
    height:15vh;
    width:38vw;
    padding:1vh;
    border-radius:1vw;
    background-color:#8d73b8;
    color:white;
    font-family:sans-serif;
    font-size:1.25vw;
    min-height:150px;
    min-width:200px;
}

.summaryContentBox h1{
    margin:0;
    padding:0;
    font-family:sans-serif;
    font-size:3.5vw;
}

.summaryContentBoxImg{
    position:relative;
    float:right;
    padding-top:2.5vh;
}

#clientsSignedUp{
    background-color:#9c7ec5;
}

#incomingClients{
    background-color:#cdbee0;
}

#caregiversOnBoard{
    background-color:#8262b6;
}

#caregiversOnQueue{
    background-color:#bd9ae7;
}

#new-Client{ 
    
}

#newClientBar{
    width:10vw;
    font-family: sans-serif;
    font-size:2vw;
    color:#624b83;
    padding:0vw 2.5vw;
    border-right:solid gray 2px;
    float:left;
}

#newClientBarDetails{
    float:left;
    color:#3d3d3d;
    font-family:sans-serif;
    margin-top:1.25vh;
    margin-left:0.5vw;
    font-size:1vw;
    opacity:1;
}

#newClientBackAndSubmitButtons{
    float:right;
    margin-right:2vw;
}

#newClientBackAndSubmitButtons button{
    border:none;
    font-family:sans-serif;
    font-size:1.75vh;
}

/*disabled for now, moved back button to within the forms as well*/
/* #newClientBackButton{
    background-color:white;
    border-radius:0.5vw;
    border:solid gray 1px;
    padding: 1vh 1vw;
    margin-right:1vw;
} */ 

#newClientSubmitButtonTopRight{
    background-color:#624b83;
    border-radius:0.5vw;
    padding: 1vh 1vw;
    color:white;

}

#newClientSubmitButtonTopRightImage{
    padding-left:0.5vw;
    margin:auto;
    margin-left:0.5vw;
    border-left:solid white 1px;
    height:0.75vw;
    width:0.75vw;
    min-width:10px;
    min-height:10px;

}

#newClientContent{
    margin-top:7.5vh;
    height:10%;
    width:90%;
    margin-left:0.5vw;   
    display:grid;
    grid-template-columns:1fr 1fr;
    column-gap:2vh;
    row-gap:1vh;
    margin-bottom:5vh;
}
.newClientContentBox{
    height:8vh;
    width:41vw;
    border-radius:1vw;
    background-color:#d5b5fd;
    font-family:sans-serif;
    font-size:1vw;
    transition-duration: 0.25s;
}

.newClientContentNumberBox{
    margin-top:1vh;
    margin-left:1vh;
    border-radius:0.75vmin;
    height:3vw;
    width:3vw;
    background-color:#a384d4;
    float:left;
}

.activeNewClientForm{
    background-color:white;
    transition-duration: 0.25s;
}

.newClientContentNumber{
    color:white;
    padding-left:1.2vw;
    padding-top:0.75vw;
    font-size:1.25vw;
}

.newClientContentBox h1{
    font-size:1.25vw;
    font-weight:bold;
    margin-left:4vw;
    color:#2b2b2b;
    margin-top:1vh;
}

.newClientContentBox p{
    font-size:1vw;
    margin-top:-1vh;
    margin-left:4vw;
    color:#2b2b2b;
}

#newClientFormsBox{
    border-radius:0.5vw;
    border:solid gray 1px;
    padding:1vw;
    width:95%;
    height:52.5vh;
    margin:auto;
    background-color:white;
    position:relative;
}

.newClientFormsNextButton{
    position: absolute;
    bottom:1vh;
    right:1vw;
    border:solid gray 1px;
    border-radius:0.25vw;
    background-color: #a384d4;  
    color:white;  
    font-family:sans-serif;
    padding:0.5vh 0.5vw;  
}

.newClientFormsBackButton{
    position: absolute;
    bottom:1vh;
    right:8vw;
    border:solid gray 1px;
    border-radius:0.25vw;
    background-color: #ebdaff;  
    color:black;  
    font-family:sans-serif;
    padding:0.5vh 0.5vw; 
}

#newClientFormsSubmitButton{
    position: absolute;
    bottom:1vh;
    right:1vw;
    border:none;
    border-radius:0.25vw;
    background-color: #624b83;  
    color:white;  
    font-family:sans-serif;
    padding:0.6vh 1vw;  
}

#form1{
    display:block;
    margin-left:5vw;
    width:60vw;
    font-family:sans-serif;
    font-size:1vw;
    color:gray;
    
    
    
    
}

#Client-Profile-Details{
    font-family: sans-serif;
    font-size:1.5vw;
    color:gray;
    font-weight: bolder;
}
#UL{
    list-style-type: none;
}
#Avatar{
    margin-top:0.5vw;
}
#NameofClient{
    margin-top:0.3vw;
}


#newClientFormPartOne0{
    margin-left:0.5vw;
    border-radius:0.4vw;
}
#LastName{
    margin-top:0.3vw;
}
#newClientFormPartOne1{
    margin-left:2.3vw;
    margin-top:0.3w;
    border-radius:0.4vw;
}
#newClientFormPartOne2{
    margin-top:0.3vw;
    margin-left:7.7vw;
    border-radius:0.4vw;
   
}
#NameofClientRepresentative{
    margin-top:0.3vw;
}
#Address{
    margin-top:0.2vw;
}
#newClientFormPartOne3{
    margin-left:3.7vw;
    margin-top:0.2vw;
    border-radius:0.4vw;
}
#newClientFormPartOne4{
    margin-left:5.4vw;
    margin-top:0.3vw;
    border-radius:0.4vw;
}
#City{
    margin-top:0.3vw;
}
#State{
    margin-top:0.3vw;
}
#newClientFormPartOne5{
    margin-left:4.8vw;
    margin-top:0.3vw;
    border-radius:0.4vw;
}
#Zip-Code{
    margin-top:0.3vw;
}
#newClientFormPartOne6{
    margin-left:3vw;
    margin-top:0.3vw;
    border-radius:0.4vw;
}
#newClientFormPartOne7{
    margin-top:0.3vw;
    margin-left:4.9vw;
    border-radius:0.4vw;
}
#DOB{
    margin-top:0.3vw;
}
#newClientFormPartOne8{
    border-radius:0.4vw;
    margin-left:1vw;
}
#newClientFormPartOne9{
    border-radius:0.4vw;
    margin-top:0.3vw;
    margin-left:2vw;
}
#newClientFormPartOne10{
    margin-top:0.3vw;
    border-radius:0.4vw;
    margin-left:1.4vw;
}
#newClientFormPartOne11{
    margin-top:0.3vw;
    border-radius:0.4vw;
    margin-left:0.8vw;
}
#newClientFormPartOne12{
    margin-left:1.1vw;
    margin-top:0.3vw;
    border-radius:0.4vw;
}
#checkbox1{
    margin-left:0.5vw;
}
#checkbox2{
    margin-left:0.5vw;
}
#UL2{
    list-style-type:none; 
}
/*
#Last-name{
    margin-top:0.5vw;
    margin-left:1.8vw;
}
#NameofClient-Representative{
    margin-top:0.5vw;
    margin-left:1.7vw;
}
#textbox{
    margin-left:6.7vw;
    margin-top:0.5vw;
}
#Name{
    margin-top:4vw;
    margin-left:0.2vw;
}

#address{
    margin-top:0.5vw;
    margin-left:2.9vw;
}
#city{
    margin-top:0.5vw;
    margin-left:4.65vw;
}
#state{
    margin-top:0.5vw;
    margin-left:4.1vw;
    float:auto;
    
}
#ZipCode{
    margin-top:0.5vw;
    margin-left:2.55vw;
    float:auto;
    
}
#DOB{
    margin-top:0.5vw;
    margin-left:4.2vw;
    float:left;
}
#DNR{
    margin-left:30vw;
    float:none;
    
}
*/

#form2{
    display:none;
    margin-left:5vw;
    width:60vw;
    font-family:sans-serif;
    font-size:1vw;
    color:gray;
}
#ContactInformation{
    font-size:1.5vw;
}
#newClientFormPartTwo0{
    margin-left:0.5vw;
    margin-top:1vw;
    border-radius: 0.4vw
    
}
#PrimaryCarephysician{
    margin-top:1vw;
}
#newClientFormPartTwo1{
    margin-top:1vw;
    border-radius:0.4vw;
    margin-left:8vw;
}
#Phony{
    
}
#Address1{
    margin-top:3vw;
}
#newClientFormPartTwo2{
    margin-left:7.3vw;
    margin-top:1.5vw;
    border-radius: 0.4vw;
}
#PreferredHospital{
    margin-top:3vw;
}
#newClientFormPartTwo3{
    margin-left:2.9vw;
    margin-top:1.5vw;
    border-radius: 0.4vw;
}
#CaregiverStaffing{
    margin-top:1.5vw;
}
#Requirements{
    
}
#newClientFormPartTwo4{
    
    border-radius:0.4vw;
    margin-left:3vw;
}
#sentences{
    margin-left:28vw;
    font-size:1.2vw;
}
#newClientFormPartTwo5{
    border-radius: 0.4vw;
    margin-left: 5vw;
    
}
#newClientFormPartTwo6{
    border-radius:0.4vw;
    margin-left:0.9vw;
}
#newClientFormPartTwo7{
    margin-left:5.1vw;
    border-radius:0.4vw ;
}
#newClientFormPartTwo8{
    border-radius:0.4vw;
    margin-left:2vw;
}


#form3{
    display:none;
}

#form4{
    display:none;
}

#active-Clients{

}

#add-Caregiver{

}

#active-Caregivers{

}

#documents{

}

#forms{

}

.summaryTab{
    display:none;
    animation: fadeEffect 1s, slide 1s forwards;
}

.displayed{
    display:block;
    animation: fadeEffect 0.75s;
}

.sidebarDisplay{
    opacity:1;
    transition:opacity 0.75s;
    animation: fadeEffect 0.75s, slide2 0.75s forwards;
}

.sidebarDisappear{
    opacity:0;
    transition: opacity 0.75s;
    animation: fadeEffect 0.75s, slideOut 0.75s forwards;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

@keyframes slide{
    100% {margin-left:15%;}
}

@keyframes slide2{
    0%{margin-top:-100vh;}
    100%{margin-top:0vh;}
}

@keyframes slideOut {
    100%{margin-top: -100vh;}
}

@media screen and (max-width:768px){    
    

  }
